<div class="container">
    <div class="header">ACTIVIDAD</div>
    <div class="main-section">
      <div class="table">
        <div class="row header-row">
          <div>Marca</div>
          <div>Modelo</div>
          <div>Serie</div>
          <div>Tipo</div>
          <div>Capacidad</div>
          <div>Refrig</div>
          <div>Psi</div>
          <div>Volts</div>
          <div>Amp</div>
        </div>
  
        <!-- Estas filas se llenarán dinámicamente -->
        <div id="table-data" class="row">
          <!-- Aquí se insertarán dinámicamente los datos -->
        </div>
      </div>
    </div>
  
    <div class="footer">
      <div class="combined-field">
        <div class="field1">
          <label for="cantidad">Cantidad</label>
          <div id="cantidad"></div>
        </div>
        <div class="field">
          <label for="materiales">Materiales</label>
          <div id="materiales"></div>
        </div>
      </div>
      <div class="field">
        <label for="descripcion">Descripción de Trabajo</label>
        <div id="descripcion"></div>
      </div>
    </div>
  </div>
  